

header {
    background-color: #1abc9c;
}

header img {
    width: 250px;
}

#about-us {
    background-color: #1abc9c;
}

.top_footer {
    background-color: #3a546d;
}

.bottom_footer {
    background-color: #2c3e50;
}
